<form class="ui stacked segment form" action="/dashboard/addplaylist" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Title</label>
            <input placeholder="Title" type="text" name="title" autofocus required>
        </div>
        <div class="field">
            <label>Rating</label>
            <input placeholder="Rating" type="number" min="0" max="5" name="rating" required>
        </div>
    </div>
    <button class="ui blue submit button">Add Playlist</button>
</form>